.scrolling-wrapper {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  

  .card {
    flex: 0 0 auto;
    position: relative;
    width: 373px;
    height: 460px;
    margin-right: 40px;
    img {
      border-radius: 16px;
      z-index: 1;
      width: 373px;
      height: 100%;
      position: absolute;
    }
    p {
      position: absolute;
      z-index: 3;
      right: 0;
      left: 0;
      bottom: 16px;
      text-align: center;
      width: 341px;
      margin: 0 auto;
      
      font-size: 16px;
      font-weight: 400;
      font-family: Comfortaa;
      color: #fff;
      font-style: normal;
      line-height: 100%;
    }
    &:first-child {
      margin-left: 64px;
    }
    &:last-child {
      margin-right: 64px;
    }
  }
}